<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops!</title>
    <style>
        .header {
            font-size: 40pt;
            font-weight: 100;
            margin-top: 120px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header-block">
        <h2 class="header">УПС</h2>
        <hr noshade width="40%" color="orange">
    </div>
</body>
</html>